---
layout: archive
title: "Recent Presentations and Panels"
permalink: /presentations/
author_profile: true
---

{% assign max_presentations = site.presentation_limit | default: 20 %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% comment %}  
{% for post in site.presentations reversed | limit: max_presentations %}
{% endcomment %} 

{% for post in site.presentations reversed  %}
  {% include archive-single-talk.html %}
{% endfor %}

